body{
    min-height: 150vh;
}
.top-navbar{
    font-size: 20px;
    padding: 5px 0 0 10px;
    border: 2px #808080 solid;
    color: #4d4d4d;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #FFFFFF;
}
.scroll-content{
    z-index: 0;
}
.left-nav{
    height: 90vh;
    background-color: #134F5C;
    padding: 8px 15px 8px 15px;
    border-radius: 2px;
}
.left-nav , .scroll-content{
    margin-top: 7vh;
}
.edit-company{
    color: white;
    font-size: 20px;
}
.edit-button{
    color: #333333;
    background-color: #FFFFFF;
    padding: 0px;
    width: 16px;
    height: 16px;
    font-size: 13px;
    line-height: 0;
}
.file-button{
    color: #FFFFFF;
    background-color: #2877E3;
    padding: 0px;
    width: 22px;
    height: 22px;
    font-size: 14px;
    line-height: 0;
    position: relative;
}
.last-analys{
    color: #FFFFFF;
    float:right;
    font-size: 12px;
}
.last-analys span:nth-child(2){
    display: block;
    text-align: right;
}
.info-title{
    color: white;
}
.company-name{
    font-size: 25px;
    color: white;
    margin: 20px 0 20px 0;
}
.file-count{
    font-size: 15px;
    padding: 5px;
    color: white;
    background-color: #2877E3;
    margin: 0px;
    border-radius: 5px;
}
.badge-notify{
    background: #2877E3;
    position: absolute;
    right: -8px;
    top: -8px;
    font-size: 10px;
    padding: 3px;
    border-radius: 2px;
    line-height: 1;
}
.analyse-btn{
    font-size: 10px;
    padding: 5px 3px 5px 3px;
    width: 65%;
    float: right;
    width: 90px;
    height: 25px;
}
.collapse-holder{
    background-color: white;
    margin: 20px 0 20px 0;
    border-radius: 2px;
    color: black;
    max-height: 50vh;
    overflow: auto;
}
.collapse-arrow{
    font-size: 20px;
    vertical-align: middle;
}
.collapse-arrow a,
.expand-nav{
    text-decoration: none !important;
    color: black !important;
    display: block;
    padding: 10px 15px;
}
.collapse-title{
    font-size: 18px;
    margin-left: 10px;
    vertical-align: middle;
}
.search-clear{
    background-color: transparent;
    border-color: #999999;
    color: #999999;
    font-weight: 600;
}

.side-navigation .panel-heading:hover{
    background-color: #E6E6E6;
}

.panel-heading.open{
    background-color: #E6E6E6;
}
.collapse-links{
    list-style: none;
    font-size: 15px;
    line-height: 3;
    margin-left: 20px;
    padding: 0 0 0 10px;
}
.collapse li{
    cursor: pointer;
}
.search-header{
    color: #999999;
    margin: 80px 0 20px 0;
}
.search-filter{
    background-color: #45818E;
    padding: 30px 20px 30px 20px;
    border: 2px solid;
}
.search-hyperlinks{
    padding: 0px;
    margin: 20px 0 0 0;
}
.search-hyperlinks li{
    display: inline;
}
.search-hyperlinks li a{
    color: #999999;
}
.search-hyperlinks li:not(:last-child)::after{
    content: " - ";
}
.counters{
    margin: 20px 0 0 0;
    float:right;
    color: #999999;
    text-align: right;
}
.contact-card{
    border:2px solid #999999;
    padding: 9px;
    position: relative;
    cursor: pointer;
}
.contact-card-xl{
    padding: 15px;
    position: relative;
}
.contact-btns{
    position: absolute;
    top: 20%;
    left: 75%;
    opacity: 0;
}
.contact-btns-xl{
    position: absolute;
    top: 15%;
    left: 60%;
    opacity: 1;
}
.mail-button,.phone-button{
    font-size: 11px;
    padding: 0px;
    margin: 5px 0 0 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    line-height: 1;
}
.mail-button{
    color:#2A78E4;
}
.phone-button{
    color: #4BA112;
}
.phone-button.cancel-call{
    color: #e74c3c;
    background-color: #FFFFFF;
}
.phone-button.cancel-call:hover
{
    color: #FFFFFF;
    background-color: #e74c3c;
}
.mail-button:hover{
background-color: #2A78E4;
color: white;
}
.phone-button:hover{
    color: white;
    background-color: #4BA112;
}
.vcard-name{
    font-weight: 600;
    font-size: 12px;
}
.vcard-name-xl{
    font-weight: 600;
    font-size: 17px;
    margin: 0;
}
.vcard-designation{
    color: #999999;
    font-size: 10px;
}
.vcard-designation-xl{
    font-size: 13px;
    margin: 0;
}
.contact-card:hover .contact-btns{
    opacity: 1.0;
    transition: opacity .40s ease-in-out;
    -moz-transition: opacity .40s ease-in-out;
    -webkit-transition: opacity .40s ease-in-out;
}
.groupname,.website-address{
    color: white;
}
.info-title{
    font-size: 11px;
}
.group-name{
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    color: white;
    line-height: 1;
}
.website-name{
    font-size: 13px;
    display: block;
    line-height: 1;
}
.website-address{
    line-height: 1;
    margin-bottom: 10px;
}
.search-icon{
    background-color: #FFFFFF;
    border: none;
    outline: none;
    height: 33.5px;
    border: none;
    outline:none;
}
.search-filter .input-group,
.search-filter .form-group{
    margin-right: 7px;
}
.user-thumb{
    width: 30px;
}
.user-thumb-xl{
    width: 160px;
}
.user-image{
    max-width: 100%;
}
.panel-holder{
    webkit-box-shadow: none;
    box-shadow: none;
}
.nav-header,.side-navigation{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.side-navigation .panel-heading{
    padding: 0px;
}
.search-buttons .search{
    padding: 6px 20px 6px 20px;
    margin-left: 6px;
}
.role-search,
.email-search,
.name-search {
    border: 2px solid;
}
.search-icon{
    box-shadow: none !important;
}
.analysis-btns{
    margin-top: 10px;
}
.results{
    margin: 20px 0 0 0;
    color: #999999;
    text-align: right;
}
.contacts{
    margin: 0px;
    color: #999999;
    text-align: right;
}
.extra-info > h4{
    font-size: 13px;
}
.contact-header-xl{
    padding: 10px;
    border:none;
}
.contact-button{
    font-size: 11px;
    margin: 5px 0 0 0;
    display: inline-block;
    border: 2px solid #999999;
    padding: 0 2px 0 2px;
    text-decoration: none !important;
    color: #999999;
}
.contact-button:hover{
    background-color: #999999;
    color: white;
}
.contact-button > .fa-clock-o{
    font-size: 17px;
    margin-right: 3px;
    padding-top: 2px;
    border-radius: 2px;
}
.contact-button span{
    font-size: 12px;
}

.first-comment{
    font-size: 11px;
    border-style: solid solid none solid;
    padding: 20px 0 20px 0;
    color: #999999;
    margin: 0px;
    border-width: 2px;
}
.add-comment{
    width: 100%;
    border: none;
    resize: none;
    overflow: auto;
    vertical-align: top;
    border: 2px solid #666666;
    border-radius: 0px;
}
.add-comment:active,
.add-comment:focus{
    outline:0px !important;
    -webkit-appearance:none;
}
.comment-section{
    padding: 10px;
    text-align: initial;
    max-height: 250px;
    overflow: auto;
}
.vcard-location-xl{
    margin: 0px;
    font-size: 10px;
    padding-bottom: 20px;
}
.reply-dp{
    max-width: 100%;
}
.reply-img{
    width: 30px;
    border: 2px solid #666666;
    padding: 2px;
    border-radius: 50%;
}
.reply-img.right{
    float: right;
}
.reply-name{
    display: inline-block;
    font-size: 11px;
    margin: 0;
    font-weight: 600;
}
.comment{
    padding: 5px;
}
.comment-outline{
    border: 2px solid #666666;
    border-radius: 16px;
    margin: -3px 0 0 30px;
    position: relative;
    padding-left: 10px;
}
.comment-outline-left{
    border: 2px solid #666666;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    width: 95%;
    padding-left: 10px;
}
.comment-outline.left:before {
    content: '';
    position: absolute;
    top: 0;
    left: 2%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: #666666;
    border-top: 0;
    border-left: 0;
    margin-left: -8.5px;
    margin-top: -14px;
    transform: rotate(-13deg);
}
.comment-outline.left:after {
    content: '';
    position: absolute;
    top: 0;
    left: 2%;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-bottom-color: #FFFFFF;
    border-top: 0;
    border-left: 0;
    margin-left: -5.5px;
    margin-top: -8px;
    transform: rotate(-13deg);
}
.comment-outline-left.right:before {
    content: '';
    position: absolute;
    top: 0;
    right: 2%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: #666666;
    border-top: 0;
    border-right: 0;
    margin-right: -8.5px;
    margin-top: -14px;
    transform: rotate(13deg);
}
.comment-outline-left.right:after {
    content: '';
    position: absolute;
    top: 0;
    right: 2%;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-bottom-color: #FFFFFF;
    border-top: 0;
    border-right: 0;
    margin-right: -5.5px;
    margin-top: -8px;
    transform: rotate(13deg);
}

.reply-timestamp{
    float: right;
}
.reply-timestamp > h4{
    color: #999999;
    font-size: 9px;
    margin: 0;
    padding: 7px 10px 0 0;
    line-height: 0.6;
}
.reply-text{
    font-size: 11px;
    margin: 10px 0 5px 0;
}

.comment-section::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.comment-section::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.comment-section::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
.contact-history{
    padding: 20px;
    margin-left: 100%;
    height:100%;
    width: 100%;
    position: absolute;
    visibility: hidden;
}
.contact-history.active{
    transition-duration: 0.1s;
    padding: 20px;
    margin-left: 0%;
    height: 100%;
    width: 100%;
    position: relative;
    visibility: visible;
    
}
.record-desc{
    font-size: 11px;
    text-align: justify;
    line-height: 1;
    margin: 10px 0 10px 0;
}
.record-icon{
    font-size: 21px;
    line-height: 3;
    vertical-align: middle;
    margin: 10px;
}
.record-icon.active-call{
    color: #27ae60;
}
.record-icon.missed-call{
    color: #e74c3c;
}
.record-icon.mail{
    color: #2980b9;
}
.record-thumb{
    font-size: 21px;
    line-height: 3;
    color: #2980b9;
    vertical-align: middle;
}
.thumb-name{
    margin: 0;
    display: inline;
    font-size: 14px;
    vertical-align: middle;
}
.record-thumb{
    width: 18px;
}
.record-thumb-container{
    margin: 18px 10px 10px 18px;
}
.record-thumb-name{
    font-size: 13px;
    margin: 0;
}
.record-timestamp{
    text-align: right;
    margin: 10px 0 0 0;
}
.record-timestamp > span{
    font-size: 10px;
}
.contact-record{
    padding: 0 8px 0 8px;
    border: 3px solid #666666;
    margin-bottom: 10px;
}
.toggle-contactRecord{
    font-size: 14px;
    cursor: pointer;
    display: none;
    color: #737373;
}
.toggle-contactRecord>i{
    margin-right: 10px;
}
.contact-historyTitle{
    margin: 0 0 30px 0;
    font-size: 20px;
}
.dialer{
    text-align: center;
    margin: 20px 0 20px 0;
}
.dialer-name{
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.dialer-thumb{
    font-size: 25px;
    color: #333333;
    vertical-align: middle;
    margin-right: 5px;
}
#dialer-timer{
    vertical-align: middle;
    font-weight: 600;
}
.call-feedback{
    border: 3px solid #333333;
    resize: none;
    width: 50%;
}
.skip-call,
.save-call{
    width: 48px;
    height: 25px;
    font-size: 10px;
    font-weight: 600;
}
.dialer-buttons{
    margin-left: 33%;
}
.feedback-header{
    margin: 0;
    font-size: 12px;
}
#contact-card-xl .modal-content{
    overflow: hidden;
}

